*{
    padding: 0px;
    margin: 0px;
    height: 300vh;
}

body{
    background-color: rgb(10, 0, 56); */
    /color: white;  
}

nav{
    position: fixed;
    background-color: rgba(46, 0, 253, 0.62);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 30px;
    top: 5px;
}